@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-dark: #0B0F19; 
    --color-primary: #6366F1; 
    --color-gray1: #F3F6FF;
    --color-gray2: #EFF2FC;
    --color-gray3: #E2E5F1;
    --color-gray4: #D4D7E5;
    --color-gray5: #B4B7C9;
    --color-gray6: #9397AD;
    --color-gray7: #565973;
    --color-gray8: #33354D;
    --color-white: #FFFFFF; 
    --color-yellow: #FFBA08;
    --color-red: #EF4444;
    --color-green: #22C55E;
    --color-blue: #4C82F7;

    --container-padding: 1rem;
    --trasition-time: all 0.2s;
}
*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
    
}

a{
    color: var(--color-primary);
    text-decoration: none;
}
a:hover{
    color: var(--color-primary);
    text-decoration: underline;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-primary:hover  {
    background-color: var(--color-gray6);
    color: var(--color-primary);
    text-decoration: underline;
}
.btn-primary i {
    margin-right: 0.5rem;
}

.btn-download-app {
    background-color: var(--color-dark);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-download-app:hover  {
    background-color: var(--color-primary);
    color: var(--color-primary);
    text-decoration: none;
}

.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-toggle-switch .label {
   display: none;
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
}
.btn-circle {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--color-gray2);
    background-color: var(--color-white);
    color: var(--color-gray8);
}

.toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}
.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
}

.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background-color: var(--color-white);
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray6);
    transition: all 0.2s;
}

.toggle-switch .slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0.2s;

}

.toggle-switch .slider.round {
    border-radius: 35px;
}

.toggle-switch .slider.round:before {
    border-radius: 50%;
}

.navbar {
    display: none;
   
}
.nav-link {
    color: var(--color-dark);
    font-weight: 600;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--color-primary);
    text-decoration: underline;
}
.active {
    color: var(--color-primary);
    text-decoration: underline;
}

#auth-signin {
    display: none;
}


header .container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


footer {
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--color-gray6);

    .container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        align-items: center;
    }
}

#hero {
    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%); 
    padding-bottom: 2rem;
    
    overflow: hidden;

    @media (min-width: 768px) {
        padding-bottom: 0;
    }
    
    .container {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-areas: "headline" "content";

     @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "headline headline" "content images";
     }

     @media (min-width: 1400px) {
        grid-template-columns: 2fr 3fr;
        grid-template-areas: "headline images" "content images";
        gap: 3rem;
     }
    }
    
    .headline {
        grid-area: headline;
        text-align: center;
         
     }
     h1 {
         font-size: 34px;
         font-weight: 800;
         margin-top: -0.35rem;

         @media (min-width: 768px) {
            font-size: 44px;
         }
         @media (min-width: 1300px) {
            font-size: 56px;
            text-align: left;
            margin-top: 6rem;
         }
     }

     .content {
        grid-area: content;
        text-align: center;
        
        @media (min-width: 768px) {
            text-align: left;
        }
        p {
            font-size: 18px;
            margin-bottom: 3rem;
            color: var(--color-gray7);

            @media (min-width:1400px) {
                margin-top: -3rem;
                width: 90%;
            }


        }

        .buttons {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @media (min-width:768px) {
                width: 280px;
                height: auto;
            }

            @media (min-width: 1300px) {
                flex-direction: row;
                margin-top: 3rem;
                
            }

        }
        .discover-more {
            color: var(--color-gray7);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-top: 2rem;

            @media(min-width: 768px) {
                justify-content: flex-start;
                margin-bottom: 2rem;
            }
            @media (min-width: 1400px) {
               margin-top: 12rem;
             }
        }

       
        

    }
    .images {
        grid-area: images;
        position: relative;
        display: none;
        align-items: center;

        @media (min-width: 768px) {
            display: block;
        }
        
         .img-back {
            position: absolute;
            z-index: -10;
            bottom: 0;
            right: 125px;
            width: 70%;
            height: auto;
            
            @media (min-width: 1400px) {
                width:auto;
                height: 450px;
                right: 210px;
                
            }
        }
        .img-front {
            position: absolute;
            z-index: -5;
            bottom: 0;
            right: 0;
            width: 75%;
            height: auto;
            margin-left: 5.5rem;
            margin-bottom: -0.5rem;
            
            @media (min-width: 1400px) {
                width:auto;
                height: 600px;
                
               
                
            }
            
        }
        
    }
     
}

#brands {
    display: none;
    margin-top: 3rem;
}

.brand-box {
    border: 1px solid var(--color-gray3);
    border-radius: 8px;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.app-features {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
   

    @media (min-width: 1400px) {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, auto);
        place-items: center;
        
        .image-container {
            margin-left: -210px;
            margin-top: 96px;
        }
        
        
       
    }
    @media (min-width: 2000px) {
        
        align-items: center;
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(3, auto);
        gap: -2rem;
        place-items: center;
        
        .image-container {
            margin-right: -320px;
            margin-top: 140px;
        }
        
        
       
    }
  }
  
  .app-features h2 {
    font-size: 28px;
    margin-bottom: 1.5rem;

    @media(min-width: 768px) {
        font-size: 34px;
        
    }

    @media (min-width: 1400px) {
        font-size: 40px;
        text-align: left;
        margin-left: -135px;
        margin-top: 96px;
    }
    @media (min-width: 2000px) {
        margin-left: -2rem;
    }
  }
  
  .app-features p {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px; 
    color: var(--color-gray7);



    @media (min-width: 1400px) {
        text-align: left;
        line-height: 26px;
        color: var(--color-gray6);
        margin-left: -135px;
        width: 746px;
    }
    @media (min-width: 2000px) {
        margin-left: -2rem;
    }
  }

 
  

  .features-grid {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (300px, 1fr));
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem 0;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, auto);
    }

    @media (min-width: 1400px) {
        
        grid-template-columns: repeat(auto-fit, minmax (350px, 1fr));
        margin-left: -80px;
        
       
       
        
    }
    @media (min-width: 2000px) {
        gap: 0px;
        margin-left: -1rem;
    }
    

  }
  
  .feature-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    

    @media (min-width: 1400px) {
        width: 345px;
        

    }
    
   
    
  }

  .icon {
    margin-top: -2rem;
    margin-left: -2rem;
    align-items: center;

    @media (min-width: 1400px) {
        margin-left: -4.5rem;
    }
    @media (min-width: 2000px) {
        margin-left: -2.5rem;
    }
  }
  
  .icon img {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }

  .text {
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    
  }
  
  
  .text h3 {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    margin-top: 0.5rem;
    
  }
  
  .text p {
    color: var(--color-gray7);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 0.5rem;
    width: 278px;

    @media (max-width: 386px) {
        max-width: 220px;
    }

    @media (min-width: 768px) {
        width: 245px;
        height: 77px;
    }
    
    
    @media (min-width: 1400px) {
        margin-left: -0;
        width: 261px;
    }
    @media (min-width: 2000px) {
        
    }
  }

  
.image-container {
    display: none;
    

    @media (min-width: 1400px) {
      display:grid;
      float:left;
      
    }
}
    


@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .btn-toggle-switch .label{
        display: block;
    }
    
    header .container{
        gap: 2rem;
    }
    footer .container {
        display: flex;
        flex-direction:row;

    }
    #brands {
        display: block;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
        }
    }
    #brand-5, #brand-6 {
        display: none;
    }
   
}


@media (min-width: 1400px) {
    .container {
        max-width: 1320px
    }
    .btn-toggle-switch .label{
        display: block;
    }
    
    header .container{
        grid-template-columns: auto 1fr auto auto;
        gap: 3rem;
    }

    #auth-signin {
        display:block;
    }

    .btn-mobile {
        display: none;
    }
    .navbar {
        display: block;
        
    }
    #phones {
        display: block;
    }
    #Features {
        color: var(--color-gray8);
    }
    #brands {
        display: block;
    }
    #brand-5, #brand-6 {
        display: flex;
    }
    
    
}