@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-dark: #0B0F19; 
    --color-primary: #6366F1; 
    --color-gray1: #F3F6FF;
    --color-gray2: #EFF2FC;
    --color-gray3: #E2E5F1;
    --color-gray4: #D4D7E5;
    --color-gray5: #B4B7C9;
    --color-gray6: #9397AD;
    --color-gray7: #565973;
    --color-gray8: #33354D;
    --color-white: #FFFFFF; 
    --color-yellow: #FFBA08;
    --color-red: #EF4444;
    --color-green: #22C55E;
    --color-blue: #4C82F7;


    --color-bg: var(--color-white);
    --color-bg-100: var(--color-gray1);
    --color-text-body: var(--color-gray7);
    --color-text-heading:var(--color-dark);
    --color-text-navigation: var(--color-gray8);
    --color-market-btn: var(--color-dark);
    --color-lg: var(--color-gray6);
    --color-white-to-gray: var(--color-white);
    --color-logo-bg: var(--color-gray1);
    --color-box: var(--color-white);


    --container-padding: 1rem;
    --trasition-time: all 0.2s;
}
*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
}

html {
    color-scheme: light;
}
.dark {
    color-scheme: dark;

    --color-bg: var(--color-dark);
    --color-bg-100: rgba(255, 255, 255, 0.04);
    --color-text-body: rgba(255, 255, 255, 0.7);
    --color-text-heading:var(--color-white);
    --color-text-navigation: var(--color-white);
    --color-market-btn: var(--color-white);
    --color-white-to-gray: rgba(255, 255, 255, 0.05);
    --color-logo-bg: rgba(99, 101, 241, 0.08);
    --color-box: rgba(255, 255, 255, 0.04);

    .btn-circle {
        border: none;
    }
    .brand-box {
        border: 1px solid var(--color-gray8);
    }
    .faq-item {
        border: none;
    }
    #faq-question-tablet {
        border: 1px solid rgba(255, 255, 255, 0.15)
    }
    .contact-card{
        border:1px solid var(--color-gray8);
    }
    .form-input {
        border: 1px solid var(--color-gray8);
    }
    #faq-question-mobile {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
    #features {
        color: var(--color-white);
    }
    .discover-more i {
        color: white;
     }
     .faq-answer {
        border-top: 1px solid var(--color-gray8);
    }
    .form-input {
        color: var(--color-gray5);

        @media (min-width:1400px) {
            background-color: var(--color-dark);
            color: var(--color-gray6);
        }
    }
    
   
   
    

    .show-light {display: none;}

    .show-dark {display: block;}

}
.show-light {display: block;}
.show-dark {display: none;}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: var(--color-bg);
  color: var(--color-text-body);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-text-heading);
}


.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
    
}

a{
    color: var(--color-primary);
    text-decoration: none;
}
a:hover{
    color: var(--color-primary);
    text-decoration: underline;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-primary:hover  {
    background-color: var(--color-gray6);
    color: var(--color-primary);
    text-decoration: underline;
}
.btn-primary i {
    margin-right: 0.5rem;
}
header {
    background-color: rgba(255, 255, 255, 0.065);
}

.btn-download-app {
    background-color: var(--color-market-btn);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
   
    
}
.btn-download-app:hover  {
    background-color: var(--color-primary);
    color: var(--color-primary);
    text-decoration: none;
}

.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-toggle-switch .label {
   display: none;
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
}
.btn-circle {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--color-gray2);
    background-color: var(--color-white-to-gray);
    color: var(--color-gray8);
}

.toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}
.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
}

.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background-color: var(--color-white);
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray6);
    transition: all 0.2s;
}

.toggle-switch .slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0.2s;

}

.toggle-switch .slider.round {
    border-radius: 35px;
}

.toggle-switch .slider.round:before {
    border-radius: 50%;
}

.navbar {
    display: none;
   
}
.nav-link {
    color: var(--color-dark);
    font-weight: 600;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--color-primary);
    text-decoration: underline;
}
.active {
    color: var(--color-primary);
    text-decoration: underline;
}

#auth-signin {
    display: none;
}


header .container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}




footer {
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--color-lg);

    .container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        align-items: center;
    }
}

#hero {
    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%); 
    padding-bottom: 2rem;
    
    overflow: hidden;

    @media (min-width: 768px) {
        padding-bottom: 0;
    }
    
    .container {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-areas: "headline" "content";

     @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "headline headline" "content images";
     }

     @media (min-width: 1400px) {
        grid-template-columns: 2fr 3fr;
        grid-template-areas: "headline images" "content images";
        gap: 3rem;
     }
    }
    
    .headline {
        grid-area: headline;
        text-align: center;
         
     }
     h1 {
         font-size: 34px;
         font-weight: 800;
         margin-top: 1rem;

         @media (min-width: 768px) {
            font-size: 44px;
            padding: 20px;
         }
         @media (min-width: 1300px) {
            font-size: 56px;
            text-align: left;
            margin-top: 9rem;
            padding: 0;
         }
     }

     .content {
        grid-area: content;
        text-align: center;
        
        @media (min-width: 768px) {
            text-align: left;
        }
        p {
            font-size: 18px;
            margin-bottom: 3rem;
            color: var(--color-text-body);

            @media (min-width:1400px) {
                margin-top: -3rem;
                width: 90%;
            }


        }

        .buttons {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @media (min-width:768px) {
                width: 280px;    /* Valde att behålla knapparna så som du gjorde i din video, tyckte också det ser mycket bättre ut.*/
                height: auto;          
            }

            @media (min-width: 1300px) {
                flex-direction: row;
                margin-top: 3rem;
                
            }

        }
        .discover-more {
            color: var(--color-text-body);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-top: 2rem;

            @media(min-width: 768px) {
                justify-content: flex-start;
                margin-bottom: 2rem;
                padding: 10px;
            }
            @media (min-width: 1400px) {
               margin-top: 12rem;
               padding: 20px;
             }

             
        }
        

       
        

    }
    .images {
        grid-area: images;
        position: relative;
        display: none;
        align-items: center;

        @media (min-width: 768px) {
            display: block;
        }
        
         .img-back {
            position: absolute;
            z-index: -10;
            bottom: 0;
            right: 125px;
            width: 70%;
            height: auto;
            
            @media (min-width: 1400px) {
                width:auto;
                height: 450px;
                right: 210px;
                
            }
        }
        .img-front {
            position: absolute;
            z-index: -5;
            bottom: 0;
            right: 0;
            width: 75%;
            height: auto;
            margin-left: 5.5rem;
            margin-bottom: -0.5rem;
            
            @media (min-width: 1400px) {
                width:auto;
                height: 600px;
                
               
                
            }
            
        }
        
    }
     
}

#brands {
    display: none;
    margin-top: 3rem;
}

.brand-box {
    border: 1px solid var(--color-gray3);
    border-radius: 8px;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.app-features {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
   

    @media (min-width: 1400px) {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, auto);
        place-items: center;
        
        .image-container {
            margin-left: -210px;
            margin-top: 96px;
        }
        
        
       
    }
    @media (min-width: 2000px) {
        
        align-items: center;
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(3, auto);
        gap: -2rem;
        place-items: center;
        
        .image-container {
            margin-right: -320px;
            margin-top: 140px;
        }
        
        
       
    }
  }
  
  .app-features h2 {
    font-size: 28px;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;

    @media(min-width: 768px) {
        font-size: 34px;
        
    }

    @media (min-width: 1400px) {
        font-size: 40px;
        text-align: left;
        margin-left: -135px;
        margin-top: 96px;
    }
    @media (min-width: 2000px) {
        margin-left: -2rem;
    }
  }
  
  .app-features p {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px; 
    color: var(--color-text-body);



    @media (min-width: 1400px) {
        text-align: left;
        line-height: 26px;
        color: var(--color-text-body);
        margin-left: -135px;
        width: 746px;
    }
    @media (min-width: 2000px) {
        margin-left: -2rem;
    }
  }

 
  

  .features-grid {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (300px, 1fr));
    gap: 2rem;
    margin: 0 auto;
    

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, auto);
    }

    @media (min-width: 1400px) {
        
        grid-template-columns: repeat(auto-fit, minmax (350px, 1fr));
        margin-left: -80px;
        gap: 0;
        
       
       
        
    }
    @media (min-width: 2000px) {
        gap: 0;
        margin-left: -1rem;
    }
    

  }
  
  .feature-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1.5rem;
    

    @media (min-width: 1400px) {
        width: 345px;
        

    }
    
   
    
  }

  .icon {
    margin-top: -2rem;
    margin-left: -2rem;
    background-color: var(--color-logo-bg);
    padding: 1rem;
    border-radius: 8px;

    

    @media (min-width: 1400px) {
        margin-left: -4.5rem;
    }
    @media (min-width: 2000px) {
        margin-left: -2.5rem;
    }
  }
  
  

  .text {
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    
  }
  
  
  .text h3 {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    margin-top: 0.5rem;
    
  }
  
  .text p {
    color: var(--color-text-body);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 0.5rem;
    width: 278px;

    @media (max-width: 386px) {
        max-width: 220px;
    }

    @media (min-width: 768px) {
        width: 245px;
        height: 77px;
    }
    
    
    @media (min-width: 1400px) {
        margin-left: -0;
        width: 261px;
    }
    @media (min-width: 2000px) {
        
    }
  }

  
.image-container {
    display: none;
    

    @media (min-width: 1400px) {
      display:grid;
      float:left;
      
    }
}
    

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .btn-toggle-switch .label{
        display: block;
    }
    
    header .container{
        gap: 2rem;
    }
    footer .container {
        display: flex;
        flex-direction:row;

    }
    #brands {
        display: block;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
        }
    }
    #brand-5, #brand-6 {
        display: none;
    }
   
}


@media (min-width: 1400px) {
    .container {
        max-width: 1320px
    }
    .btn-toggle-switch .label{
        display: block;
        margin-right: 0.75rem;
        color: var(--color-gray7);
        font-weight: 600;
    }
    
    header .container{
        grid-template-columns: auto 1fr auto auto;
        gap: 3rem;
    }

    #auth-signin {
        display:flex;
        padding: 8px 24px;
        gap: 8px;
      
    }

    .btn-mobile {
        display: none;
    }
    .navbar {
        display: block;
        
        
    }
    #features {
        color: var(--color-gray8);
    }
    #phones {
        display: block;
    }
    #brands {
        display: block;
    }
    #brand-5, #brand-6 {
        display: flex;
    }
    
    
}

.how-it-works {
    background-color: var(--color-bg-100);
   
}
.how-it-works h2 {
    font-size: 28px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;

    @media (min-width: 768px) {
        font-size: 33.5px;
        line-height: 43.6px;
    }
    @media (min-width:1400px) {
        font-size: 40px;
        line-height: 130%;
    }
}
.h3-variants {
    
    #mobile {
        font-size: 21.6px;
        line-height: 30.2px;
        font-weight: 800;
        margin-top: 2rem;
        text-align: center;
    }
    #tablet {
        display: none;
    }
    #desktop {
        display: none;
    }

    @media (min-width: 768px) {
        #mobile {
            display: none;
        }
        #tablet {
            display: block;
            font-size: 22.7px;
            font-weight: 800;
            margin-top: 2rem;
            text-align: center;
        }
    }
     @media(min-width: 1400px) {
        #tablet {
            display: none;
        }
        #desktop {
            display: block;
            font-size: 24px;
            text-align: center;
            margin-top: 3rem;
        }
     }
}

.how-it-works p {
    color:var(--color-text-body);
    font-size: 16px;
    padding-bottom: 4rem;
    line-height: 25.6px;
    display: flex;
    align-items: center;
    text-align: center;   /* Valde att inte göra något med texten i tablet mode eftersom jag tyckte det såg bättre ut att ett ord inte låg på en egen rad.*/

    @media (min-width:1400px) {
        display: none;
    }
}

.how-it-works #p2 {
    display: none;

    @media (min-width: 1400px) {
        display: block;
        padding-bottom: 5rem;
    }
}

.how-grid {
    display: grid;
    grid-template-columns: auto, 1fr;
}

.image-wrapper {
   margin-top: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
}
#img-1, #img-3, #img-4, #img-5, #img-6 {
    display:none;
}

@media (min-width: 768px) {
    #img-1, #img-3 {
        display: block
    } 
    #img-2 {
        width: 203px;
        height: 411px;
    }
    @media (min-width:1400px) {
        #img-1, #img-2, #img-3 {
            display: none;
        }
        #img-4, #img-5, #img-6 {
            display: flex;
        
        }
        #img-4 {
            margin-right: 5rem;
        }
        #img-6 {
            margin-left: 6rem;
        }
    }
}

.transfer-money {
    display: none;

    @media (min-width: 1400px) {
        display: block;
    }
}
.transfer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
    padding-top: 7rem;
}
.transfer-item {
    display: flex;
    align-items: center;
    justify-items: left;
    flex-direction: column;
    margin-top: 2rem;
    
}
#send, #contacts {
    margin-right: -2rem;
    margin-top: -3.5rem;
}
.transfer-item h2 {
    font-size: 32px;
    font-weight: 800;
    
}
#Receive {
    margin-right: 10rem;
}
.transfer-item p {
    font-size: 16px;
    color:var(--color-text-body);
    width: 242px;
    line-height: 160%;
}
ul {
    list-style: none;
    place-content: left;
    margin-right: 6rem;
}
ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color:var(--color-text-body);
    gap: 0.5rem;
  }
  #learn-more {
    margin-top: 1rem;
    margin-right: 210px;
  }
  #learn-more2 {
    margin-top: 3rem;
    margin-right: 360px;
  }
  #sidearrow {
    margin-left: 0.75rem;
  }
  .grid-icons {
    display: flex;
    gap: 20px;
  }
  .grid-icons p{
    margin-top: 1rem;
  }

  
.reviews {
    display: none;

    @media(min-width: 1400px) {
        display: block;
        background-color: var(--color-bg-100);
        padding: 80px;
    }
}
.reviews h2 {
    font-size: 40px;
    font-weight: 800px;
}
.review-grid {
    display: flex;
    gap: 24px;
   
}
.review-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--color-box);
    width: 416px;
    height: 350px;
    padding: 20px;
    gap: 2px;
    margin-left: 3rem;
}
#box-1 {
    margin-left: 6rem;
}
#box-2 {
    margin-left: 0;
}
#quotes {
    margin-top: -3rem;
    margin-right: 310px;
}
#stars {
    margin-right: 280px;
    margin-top: 1rem;
}
.review-box p {
    color:var(--color-text-body);
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    margin-top: 1rem;
    margin-bottom: -0.5rem;
    width: 368px;
    height: 145px;
}
#person {
    margin-top: 2.5rem;
    margin-right: 7rem;
}



#faq {
    overflow: hidden;
    
    h2 {
        font-size: 25px;
        font-weight: 800;
        margin-top: 2.5rem;

        @media (min-width:768px) {
            font-size: 32px;
            margin-top: 3rem;
        }
       
    }
    p {
        font-size: 18px;
        font-weight: 400;
        color: var(--color-text-body);
        margin-bottom: 3rem;
    }
}
    .faq-header {
    text-align: center;
    margin-bottom: 20px;
}

   #faq .container {
    display: grid;
    grid-template-columns: 1fr;
    
   }
   #desktop {
    display: none;
   }

    .faq-grid {
        display: flex;
        flex-direction: column;
    
    }
        .faq-item {
            background-color: var(--color-box);
            border: 1px solid var(--color-gray1);
            padding: 12px;
            margin-left: 0.25rem;
            
           
        }
        
        #faq-question-mobile {
            border-bottom: 1px solid var(--color-gray1);
            border-radius: 8px 8px 0 0;
        }
        #last-item {
            border-radius: 0 0 8px 8px;
        }
        .faq-question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            
        }
        h3 {
            font-size: 16px;
            font-weight: 600;
            
        }
        .faq-answer {
            border-top: 2px solid var(--color-gray1);
            padding-top: 1rem;
            padding-left: 8px;

        }
       
       
      
       
       
        
        #first-question {
            display: none;

            @media(min-width: 768px) {
                display: block;
            }
        }
        #answer-tablet {
            display: none;
        }
       

        #faq-question-tablet {
            display: none;
            @media(min-width: 768px) {
                display: block;
                gap: 0;
                margin-bottom:1rem ;
                
            }
        }
     @media(min-width:768px) {
        #faq-question-mobile {
            display: none;
        }
       
        #answer-tablet {
            display: block;
            border: none;
            p{
                border-top: none;
                margin-top: -1rem;
                font-size: 14px;
                margin-bottom: 0.5rem;
                
            }
           
            
        }
       
        .faq-grid {
            gap: 1rem;
        }
        .faq-item {
            border-radius: 8px;
        }
        #last-item {
            border-radius: 8px;
        }
        #desktop, #desktop2 {
            display: block;
        }
        #mobile, #mobile2 {
            display: none;
        }
        #question2 {
            display: none;
        }
        .faq-question {
            margin-left: 0.5rem;
          }
       
     }
     @media (min-width:1400px) {
       #faq .container {
        grid-template-columns: 1fr 2fr;
        gap: 100px;
        padding-top: 4rem;
       }
       .faq-grid {
        grid-column: 2;
        grid-row: 1 / span 2;
        margin-top: 3rem;
        
        
       }
        .faq-item {
            grid-column: 2;
            margin-left: 1rem;
            
            
            
        }
        .contact-options {
            grid-row: 2;
            grid-column: 1;
            margin-bottom: 20rem;
            }
        
        
        .faq-header {
            grid-column: 1;
            grid-row: 1;
            text-align: left;
            margin-top: 1rem;
            margin-bottom: -9rem;
        }
        h2 {
            margin-bottom: 2rem;
            margin-left: 4rem;
        }
        
     }

     #green {
    color: var(--color-green);
}
#contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    height: 50px;
    font-size: 14px;
    line-height: 22px;

    @media (min-width: 768px) {
        display: none;
    }

}
.contact-options {
    display: none;
    margin-top: 30px;
    gap: 20px;
    justify-content: space-between;

    @media(min-width: 768px) {
        display: flex;
    }

   
}
.contact-card {
    padding: 24px;
    border: 1px solid var(--color-gray3);
    border-radius: 8px;
    align-items:center;
    width: 343px;
   
    

    @media (min-width:1400px) {
        width: 196px;
        align-items: center;
        margin-right: 1rem;
    }
    

}
.contact-card a {
    font-weight: 600;
    font-size: 14px;
    align-items: center;
}
.contact-card h5 {
    font-size: 14px;
    font-weight: 400;
    color:var(--color-text-body);
    
    @media (min-width:1400px) {
     text-align: left;
     font-size: 14px;
     line-height: 160%;
     width: 185px;
     
    }
}
.faq-icon {
    
    
    @media (min-width:1400px) {
        
        
    }
}

#subscribe 
    
.subscribe-container {
    background-color: var(--color-bg-100);
    padding: 16px;
    border-radius: 10px;
    margin-top: 3rem;
    height: 260px;
    
}

.subscribe-header {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 15px;
}
.subscribe-header h2 {
    font-size: 21px;
    font-weight: 800;
    line-height: 30px;
}
.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.form-input {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid var(--color-gray3);
    border-radius: 8px 0 0 8px;
    outline: none;
    flex-grow: 1;
    min-width: 150px;
    padding-left: 3rem;
    background-color: var(--color-white);
}
.email {
    padding-left: 3rem;
    background-image: url(images/email.svg);
    background-repeat: no-repeat;
    background-position: 10px 50%;
}


.subscribe-input::placeholder {
    color: var(--color-lg);
}

.subscribe-button {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 11px 20px;
    border: none;
    font-size: 16px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}
#desktop2 {
    display: none;

    @media (min-width:1400px) {
        #mobile2 {
            display: none;
        }
        #desktop2 {
            display: block;
        }
    }
}
@media (min-width:768px) {
    
    .subscribe-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
    }
    .subscribe-header {
        margin-bottom: 0;
        gap: 32px;
        margin-left: 1rem;
    }
    .subscribe-header h2 {
        width: 200px;
        font-size: 23px;
        line-height: 32px;
    }
   .subscribe-form {
    justify-content: flex-end;
    width: 212px;
    margin-right: 1rem;
    
   }
   
    .subscribe-input {
        flex-grow: 1;
        width: 212px;
    }
    .subscribe-button {
        width: 115px;
    }
    
    #mobile2 {
        display: block;
        
    }

    @media (min-width:1400px) {
       
        .subscribe-container {
            height: 222px;
            margin-bottom: 3rem;
        }
        .subscribe-header {
            margin-left: 5rem;
        }
        #mobile2 {
            display: none;
        }
        #desktop2 {
            display: block;
            width: 414px;
        }

        .subscribe-form {
            width: 45%;
            margin-right: 5rem;
        }
        h2{
            font-size: 24px;
            margin-left: 0;
        }
    }
}
