footer {
    font-size: 14px;
    padding-bottom: 2rem;
    color: $color-gray6;
    

    .container {
        display:flex;
        justify-content: center;
        margin-top: -2rem;
        padding: 2rem;
        
    }
 
}